.profile-img {
    background-image: url('https://static.jobscan.co/blog/uploads/hickman-testimonial-1.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}