.header {
    position: relative;
}

.header-flex {
    display: flex;
    padding: 50px;
}

.left-header {
    width: 50%;
    text-align: left;
}

.hero-text {
    font-size: 50px;
    color: #0A0B0A;
}

.hero-small-text {
    font-size: 25px;
    letter-spacing: 2px;
    font-weight: 300;
    padding-left: 5px;
}

.border-bottom {
    width: 125px;
    height: 8px;
    background-color: #1D4294;
}