.header {
    position: relative;
}

.header-flex {
    display: flex;
    justify-content: space-between;
    padding: 50px;
}

.left-header {
    width: 50%;
    text-align: left;
}

.hero-text {
    font-size: 50px;
    color: #0A0B0A;
}

.hero-small-text {
    font-size: 25px;
    letter-spacing: 2px;
    font-weight: 300;
    padding-left: 5px;
}

.border-bottom {
    width: 125px;
    height: 8px;
    background-color: #1D4294;
}

.title-img-1 {
    padding-right: 20px;
    border-right: 2px solid #130D3C;
    width: 130px;
}

.title-img-2 {
    padding-left: 20px;
    width: 120px;
}

.title-img-2 img,
.title-img-1 img {
    width: 100%;
    height: 100%;
}