.fb-bgImage {
    background-image: url(/public/images/fbBgImg.png);
    min-width: 100%;
    min-height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}