.footer {
    background-image: url(/public/images/Footer.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 250px;
}

.end-report {
    opacity: 0.5;
    font-size: 14px;
    font-weight: 400;
    padding-top: 10px;
}

.end-report::after {
    content: '';
    width: 100px;
    height: 2px;
    background-color: #122562;
    margin-left: 15px;
}

.end-report::before {
    content: '';
    width: 100px;
    height: 2px;
    background-color: #122562;
    margin-right: 15px;
}