.App {
  text-align: center;
  height: 100%;
  width: 100%;
  background-color: #E9EBF3;
}

.hero-section {
  min-height: 524px;
  max-width: 100%;
  background-image: url("/public/images/heroImg.png");
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #E9EBF3;
}