.App {
  text-align: center;
  height: 100%;
  width: 100%;
}

.hero-section {
  height: 520px;
  width: 100%;
  background-image: url("/public/images/heroImg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}