html,
body {
  font-family: "Roboto";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  width: 100%;
}

* {
  box-sizing: border-box;
  margin: 0px;
}

#root {
  height: 100%;
  width: 100%;
}

.hero-small-text {
  font-size: 25px;
}

.flex {
  display: flex;
  align-items: center;
}